{% load static %}
<header>
    <!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
    <!-- В дальнейшем тут будет создано полноценное меню -->
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
        <a class="navbar-brand" href="">
          <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
          <span style="color:red">Dip</span>loma
        </a>
        <ul class="nav nav-pills"> 
          {% with request.resolver_match.view_name as view_name %} 
          <li class="nav-item">  
            <a class="nav-link
            {% if view_name  == 'about:author' %} 
            active
            {% endif %}"
            href="">О сайте</a> 
          </li> 
          <li class="nav-item"> 
            <a class="nav-link
            {% if view_name == 'about:tech' %}
            active
            {% endif %}" 
            href="">Технологии</a> 
          </li> 
            {% if user.is_authenticated %} 
          <li class="nav-item">  
            <a class="nav-link
            {% if view_name == 'posts:post-create' %}
            active
            {% endif %}" 
            href="">Новый документ</a> 
          </li> 
          <li class="nav-item">  
            <a class="nav-link link-light
            {% if view_name == 'users:password_change' %}
            active
            {% endif %}"
            href="">Изменить пароль</a> 
          </li> 
          <li class="nav-item">  
            <a class="nav-link link-light" href="">Выйти</a> 
          </li> 
          <li> 
            Пользователь: {{ user.username }} 
          </li> 
          {% else %} 
          <li class="nav-item">  
            <a class="nav-link link-light" href="">Войти</a> 
          </li> 
          <li class="nav-item">  
            <a class="nav-link link-light" href="">Регистрация</a> 
          </li> 
          {% endif %} 
          {% endwith %}
          </ul>        
      </div>
    </nav>      
  </header>